.stripe:first-child {
  grid-row-start: -11;
  grid-column: 3 / span 2;
  -webkit-box-shadow: inset 0 0 0 1.5px #e6ebf1;
  box-shadow: inset 0 0 0 1.5px #e6ebf1;
}

.stripe:nth-child(2) {
  grid-row-start: -7;
  grid-column: span 2/-5;
  -webkit-box-shadow: inset 0 0 0 1.5px #e6ebf1;
  box-shadow: inset 0 0 0 1.5px #e6ebf1;
}

.stripe:nth-child(3) {
  grid-row-start: -5;
  grid-column: span 5/-4;
  background-color: #ffbf74;
}

.stripe:nth-child(4) {
  grid-row-start: -4;
  grid-column: viewport-start/span 6;
  background-color: #ffbf74;
}

.stripe:nth-child(5) {
  grid-row-start: -4;
  grid-column: 7 / span 1;
  background-color: #d8b8cd;
}

.stripe:nth-child(6) {
  grid-row-start: -4;
  grid-column: span 7 / viewport-end;
  background-color: #8f6ed5;
}

.stripe:nth-child(7) {
  grid-row-start: -3;
  grid-column: span 4 / content-end;
  background-color: #d782d9;
}

.stripe:nth-child(8) {
  grid-row-start: -3;
  grid-column: right-gutter-start/right-gutter-end;
  background-color: #7356b6;
}

.stripe:nth-child(9) {
  grid-row-start: -2;
  grid-column: span 3/-5;
  background-color: #e6ebf1;
}

.stripe:nth-child(10) {
  grid-row: -6;
  grid-column: span 13/-15;
  background-color: #ebd4ee;
}

.stripe:nth-child(11) {
  grid-row: -11;
  grid-column: span 24 / 8;
  background-color: #fc9dff;
}
